.box {
    height: 100px;
    width: 150px;
    background-color: violet;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box1 {
    height: 50px;
    width: 169px;
    background-color: rgb(154, 69, 148);
    display: flex;
    margin-top: 30px;
    justify-content: center;
    align-items: center;
}